{% load static %}
<! DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{%static 'css/form.css' %}">
        <title> Login Hijabku-IbrCollection</title>
        <link
        href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
        rel="stylesheet"
    />        
    </head>
    <body>
        <div class="wrapper">
            <div class="form-wrapper sign-in">
                <form action="/">
                    <h2>Login</h2>
                    <div class="input-grup">
                        <input type="text" placeholder="Username" required />
                        <i class="bx bxs-user"></i>
                    </div>
                    <div class="input-grup">
                        <input type="password" placeholder="Password" required />
                        <i class="bx bxs-lock-alt"></i>
                        </div>
                        <div class="remember">
                            <lebel for=""><input type="checkbox" />Remember Me</lebel>
                        </div>
                        <button type="submit" class="btn">Login</button>
                        <div class="sign-up">
                            <p>
                                Don't Have an Account?
                                <a herf="a" class="signupbtn-link"> Sign Up</a>
                            </p>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>